$Strong-cyan: hsl(172, 67%, 45%);
$Very-dark-cyan: hsl(183, 100%, 15%);
$Dark-grayish-cyan: hsl(186, 14%, 43%);
$Grayish-cyan: hsl(184, 14%, 56%);
$Light-grayish-cyan: hsl(185, 41%, 84%);
$Very-light-grayish-cyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: 100%;
}
body {
  background-color: $Light-grayish-cyan;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Space Mono', monospace;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.app-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}
.app-container {
  margin: 0 auto;
  background-color: $White;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  &__box {
    width: 260px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    &--blue {
      background-color: $Very-dark-cyan;
    }
  }
  &__alertMessage {
    font-size: 14px;
    color: rgb(199, 22, 22);
  }
  input {
    border: none;
    background: transparent;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    color: $Very-dark-cyan;
    text-align: end;
  }
  &__title {
    color: $Dark-grayish-cyan;
    font-size: 16px;
  }
  &__billValue {
    display: flex;
    justify-content: space-between;
    background-color: $Very-light-grayish-cyan;
    padding: 10px;
  }
  &__tipValue {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
    margin: 30px 0;
  }
  &__tipBtn {
    background-color: $Very-dark-cyan;
    color: $White;
    font-family: 'Space Mono', monospace;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 80px;
    cursor: pointer;
    &:hover {
      color: $Very-dark-cyan;
      background-color: $Light-grayish-cyan;
    }
    &:active {
      color: $Very-dark-cyan;
      background-color: $Light-grayish-cyan;
    }
    &:focus {
      color: $Very-dark-cyan;
      background-color: $Light-grayish-cyan;
    }
  }
  &__personValue {
    display: flex;
    justify-content: space-between;
    background-color: $Very-light-grayish-cyan;
    padding: 10px;
  }
  &__tipAmount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    p {
      color: $White;
      font-size: 16px;
      span {
        color: $Grayish-cyan;
        font-size: 12px;
      }
    }
    h2 {
      color: $Strong-cyan;
      padding: 10px;
      font-size: 32px;
    }
  }
  &__total {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    p {
      color: $White;
      font-size: 16px;
      span {
        color: $Grayish-cyan;
        font-size: 12px;
      }
    }
    h2 {
      color: $Strong-cyan;
      padding: 10px;
      font-size: 32px;
    }
  }
  &__resetBtn {
    margin: 20px;
    padding: 10px;
    background-color: $Light-grayish-cyan;
    color: $Very-dark-cyan;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: $Strong-cyan;
    }
  }
}
.app-footer {
  margin: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: 12px;
  }
  a {
    font-size: 12px;
    margin: 0 5px;
    color: $Very-dark-cyan;
  }
}
/*# sourceMappingURL=style.css.map */
